{% extends "author/base.html" %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<h5>e-Book:</h5>
		
		
		<hr>
		<div class="card card-header">
		<h1>e-Book
			<a class="btn btn-primary  float-right" href="{% url 'library:add_ebook' %}"> + Create e-Book</a></h1>
		</div>
		<div class="card card-body"> 
			<table class="table table-sm">
				<tr>
					<th>Serial</th>
					<th>Image</th>
					<th>Title</th>
					<th>Details</th>
					<th>Author</th>
					<th>File</th>
					<th>Action</th>
				</tr>
				{% for row in ebooks  %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td><img width="50px" height="50px" class="profile-pic" src="{{row.image.url}}" ></td>
						<td>{{row.title}}</td>
						<td>
							<span class="font-weight-bold"> Book Number: </span> {{row.book_number}}, <br>
							<span class="font-weight-bold"> ISBN Number: </span>{{row.isbn_number}}, <br>
							<span class="font-weight-bold"> Subject: </span>{{row.subject}}, <br>
							<span class="font-weight-bold"> Language: </span>{{row.book_language}}, <br>

						</td>
						<td>{{row.author}}</td>
						<td><a href="static/images/{{row.file}}" target="_blank" rel="noopener noreferrer" class="btn btn-info"><i class="fa fa-link"></i></a></td>
						
						<td>
						<a href="{% url 'library:book' row.id %}" class="btn btn-success"><i class="fa fa-eye"></i></a>
						<a href="{% url 'library:edit_ebook' row.id %}" class="btn btn-info"><i class="fa fa-edit"></i></a>
						<a onclick='return confirm("Are you sure you want to do this?")' href="{% url 'library:delete_ebook' row.id %}" class="btn btn-danger"><i class="fa fa-trash"></a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	

</div>
  
{% endblock  %}
