{%  extends 'author/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Complain</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Complain Type</label>
									{{form.complain_type}}
									<span class="text-danger">{{form.errors.complain_type}}</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Complain by</label>
									{{form.complain_by}}
									<span class="text-danger">{{form.errors.complain_by}}</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Phone</label>
									{{form.phone}}
									<span class="text-danger">{{form.errors.phone}}</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Date</label>
									{{form.date}}
									<span class="text-danger">{{form.errors.date}}</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Assingned</label>
									{{form.assigned}}
									<span class="text-danger">{{form.errors.assigned}}</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Attachment</label>
									{{form.attachment}}
									<span class="text-danger">{{form.errors.attachment}}</span>
								</div>
							</div>
							
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="exampleInputEmail1">Description</label>
									{{form.description}}
									<span class="text-danger">{{form.errors.description}}</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="exampleInputEmail1">Action Taken</label>
									{{form.action_taken}}
									<span class="text-danger">{{form.errors.action_taken}}</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="exampleInputEmail1">Note</label>
									{{form.note}}
									<span class="text-danger">{{form.errors.note}}</span>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>


{% endblock content %}