{%  extends 'author/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Driver</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST">
						{% csrf_token %}
						
						<div class="form-group">
							<label for="exampleInputEmail1">Driver</label>
							<select name="driver_id" id="" class="form-control select2" multiple>
								{% for row in driver  %}
									<option value="{{row.id}}">{{row.name}}</option>
								{% endfor %}
							</select>
							<span class="text-danger">{{form.errors.name}}</span>
						</div>
						
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>

{% endblock content %}