{%  extends 'author/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Driver</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Name</label>
									{{form.name}}
									<span class="text-danger">{{form.errors.name}}</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Phone</label>
									{{form.phone}}
									<span class="text-danger">{{form.errors.phone}}</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Age</label>
									{{form.age}}
									<span class="text-danger">{{form.errors.age}}</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Gender</label>
									{{form.gender}}
									<span class="text-danger">{{form.errors.gender}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Driving License</label>
									{{form.driving_licence}}
									<span class="text-danger">{{form.errors.driving_licence}}</span>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Driving License Validity</label>
									{{form.driving_licence_validity}}
									<span class="text-danger">{{form.errors.driving_licence_validity}}</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Address</label>
									{{form.address}}
									<span class="text-danger">{{form.errors.address}}</span>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>

{% endblock content %}