{%  extends 'author/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Add Student Room</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST">
						{% csrf_token %}
						<input type="hidden" name="hostel_id" value="{{hostel_id}}">
						<div class="form-group">
							<label for="exampleInputEmail1">User</label>
							<select name="user_id" id="" class="form-control select2" required>
								{% for row in student  %}
									<option value="{{row.id}}">{{row.first_name}}</option>
								{% endfor %}
							</select>
							<span class="text-danger">{{form.errors.user}}</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Room</label>
							<select name="room_id" id="" class="form-control select2" required>
								{% for row in rooms  %}
									<option value="{{row.id}}">{{row.number}}</option>
								{% endfor %}
							</select>
							<span class="text-danger">{{form.errors.room}}</span>
						</div>
						
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>

{% endblock content %}