{%  extends 'author/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Hostel</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST">
						{% csrf_token %}
						
						<div class="form-group">
							<label for="exampleInputEmail1">number</label>
							<select name="room_id" id="" class="form-control select2" multiple>
								{% for row in room  %}
									<option value="{{row.id}}">{{row.number}}</option>
								{% endfor %}
							</select>
							<span class="text-danger">{{form.errors.number}}</span>
						</div>
						
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>

{% endblock content %}